* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 300px;
}

.whole {
    margin: 10px;
}

.title {
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    padding: 4px 0;
    background-color: #e63946;
}

.container1 {
    display: flex;
    max-width: 300px;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    background-color: #f1faee;
}


.col1, .col2 {
    flex: 1;
}

.col1:first-child, .col2:first-child {
    margin-right: 20px;;
}

.rightborder1, .rightborder2 {
    border-right: 1px solid black;
}
.leftborder1, .leftborder2 {
    border-left: 1px solid black;
}

.container2 {
    display: flex;
    max-width: 300px;
    height: auto;
    text-align: center;
    border: 1px solid black;
    background-color: #a8dadc;
}

ul {
    margin: 10px 0 10px 30px;
    text-align: left;
}

button {
    margin: 10px 0;
    padding: 3px 15px;
    background-color: rgb(34, 238, 170);
    color: white;
    border: none;
    border-radius: 3px;
}